<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<!--<add name="SqlConn" connectionString="Data Source=172.16.25.172;Initial Catalog=PUPOPMSCORP;User ID=sa1;Password=P@ssw0rd" providerName="System.Data.SqlClient"/>-->
    <add name="SqlConn" connectionString="Data Source=172.16.25.184;Initial Catalog=FASOPMSCORP;User ID=sa1;Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<!--<appSettings>
		<add key="ApiUrl" value="https://uatewalletfgvapi.digitalmta.com/"/>
		<add key="ApiKey" value="5738402170424040072"/>
	</appSettings>-->
	<appSettings>
		<add key="ApiUrl" value="https://uatewalletapi.fgvholdings.com/"/>
		<add key="ApiKey" value="5738402170424040072"/>
	</appSettings>
</configuration>
